{% extends 'learning_log/base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
    <div id="login-form-page">
        <h1>Log In</h1>
        <p>Fill below to log into your account.</p>

        {% if form.errors %}
            <p id="login-form-errors">{{ form.errors }}</p>
        {% endif %}

        <form action="{% url 'accounts:login' %}", method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="middle">    
                <button name="submit" id="login-form-button">Login</button>
            </div>
        </form>

    </div>
{% endblock content %}